* {
	margin: 0;
	padding: 0;
	outline: none !important;
}

body {
	font-family: "Nunito", sans-serif;
	color: rgb(38, 50, 56);
	background-color: rgb(240, 239, 244);
}

.header {
	font-size: 14px;
}

.content {
	color: whitesmoke;
}

.card-content {
	background-color: rgb(218, 65, 103);
}

.btn-submit {
	color: rgb(160, 160, 160);
	background-color: rgb(38, 50, 56) !important;
}

.btn-submit:hover,
.btn-submit:active {
	color: whitesmoke !important;
}

.footer {
	font-size: 12px;
}

@media screen and (max-width: 1024px) {
	.w-50 {
		min-width: 80% !important;
	}
}

@media screen and (max-width: 768px) {
	.w-50 {
		min-width: 100% !important;
	}
}
